{% extends 'learnit/base.html' %}
{% load static %}

{% block title %}
{{ lesson.title }} | LearnIT
{% endblock %}

{% block header %}
<link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css">
{% endblock %}

{% block content %}

<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="margin-bottom: 0px; background-color: whitesmoke; border-radius: 0px;">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active">Data</li>
    </ol>
</nav> -->

<div class="row content">
    <div class="col-md-9 m-0 p-3">
        <div class="row">
            {% if paid %}
            <video id="player" class="img-fluid w-100" playsinline controls data-poster="/path/to/poster.jpg">
                <!-- <source
                    src="https://cyberkryptslearnit.s3.ap-south-1.amazonaws.com/00+development+environment+setup.mp4"
                    type="video/mp4" size="1080" srclang="FHD" />
                <source
                    src="https://cyberkryptslearnit.s3.ap-south-1.amazonaws.com/00+development+environment+setup.mp4"
                    type="video/mp4" size="720" /> -->
                <source src="#" type="video/mp4" size="720" />

                <!-- Captions are optional -->
                <!-- <track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default /> -->
            </video>
            {% else %}
            <video controls="controls" id="player">
                <source type="video/mp4" src="{{ lesson.dropbox_url }}" size="720">
            </video>
            {% endif %}
        </div>
        <div class="row">
            <div class="p-1 m-2">
                <h2 class="title">{{ lesson.title }}</h2>
                <div class="p-2">
                    <div class="d-flex justify-content-space-between">
                        <button class="feedback m-2 d-inline" type="button" data-toggle="modal"
                            data-target="#basicExampleModal">Feedback</button>
                        <button class="feedback m-2 d-inline" data-toggle="collapse" data-target="#discription"
                            aria-expanded="false" aria-controls="discription">Discription</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-5" id="discription">

            <h3 class="disc-title">Discription</h3>
            <div class="container discription">
                <p>
                    {{ lesson.discription | safe }}
                </p>
            </div>
            <h3 class="mt-5">
                <strong class="mb-2 d-block">
                    Having any doubt? <br>
                </strong>
                Ask to the instructor,
            </h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <form action="{% url 'course-ask' %}" method="POST" class="form-group p-2">
                            <input type="text" name="subject" class="form-control m-2" placeholder="Subject">
                            <textarea type="text" name="question" class="form-control m-2"
                                placeholder="Ask your doubt,"></textarea>
                            <button type="submit" class="btn btn-primary m-2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <ul class="list-group m-2 mt-3">
            <li class="list-group-item text-center" style="background-color: lightskyblue; color: white;">
                <strong>Course content</strong>
            </li>
            {% for lessonx in lessons %}
            <a href="{% url 'course-learn' course=course.slug %}?lesson={{ lessonx.slug }}"
                class="list-group-item list-group-item-action">
                {{ lessonx.title }}
            </a>
            {% endfor %}

        </ul>
    </div>
</div>
<div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
<script src="{% static 'learncodex/js/course_galary.js' %}"></script>
<script src="https://cdn.plyr.io/3.6.2/demo.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>
{% endblock %}