{% extends 'learnit/base.html' %}
{% load static %}

{% block title %}
LearnIT | Course galary
{% endblock %}

{% block header %}
<link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
<link rel="stylesheet" href="{% static 'learncodex/course_galary.css' %}">
{% endblock %}

{% block content %}

<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="margin-bottom: 0px; background-color: whitesmoke; border-radius: 0px;">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active">Data</li>
    </ol>
</nav> -->

<div class="row content">
    <div class="col-md-9 m-0 p-3">
        <div class="row">
            {% if paid %}
            <video id="player" class="img-fluid w-100" playsinline controls data-poster="/path/to/poster.jpg">
                <!-- <source
                    src="https://cyberkryptslearnit.s3.ap-south-1.amazonaws.com/00+development+environment+setup.mp4"
                    type="video/mp4" size="1080" srclang="FHD" />
                <source
                    src="https://cyberkryptslearnit.s3.ap-south-1.amazonaws.com/00+development+environment+setup.mp4"
                    type="video/mp4" size="720" /> -->
                <source src="#" type="video/mp4" size="720" />

                <!-- Captions are optional -->
                <!-- <track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default /> -->
            </video>
            {% else %}
            <video controls="controls" id="player">
                <source type="video/mp4" src="{{ lesson.dropbox_url }}">
            </video>
            {% endif %}
        </div>
        <div class="row">
            <div class="card w-100" data-toggle="collapse" data-target="#discription" aria-expanded="false"
                aria-controls="discription">
                <div class="container">
                    <div class="row">
                        <div class="col-10 pt-2 pl-5">
                            <h5>
                                {{ lesson.title }}
                            </h5>
                        </div>
                        <div class="col-2 pt-2">
                            <i class="fas fa-chevron-circle-down" style="text-align: right;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-5" id="discription">

            <h3 class="title">{{ lesson.title }}</h3>
            <div class="container">
                <p>
                    {{ lesson.discription | safe }}
                </p>
            </div>
            <h3 class="mt-5">
                <strong class="mb-2 d-block">
                    Having any doubt? <br>
                </strong>
                Ask to the instructor,
            </h3>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <form action="#" class="form-group p-2">
                            <input type="text" name="subject" class="form-control m-2" placeholder="Subject">
                            <textarea type="text" name="question" class="form-control m-2"
                                placeholder="Ask your doubt,"></textarea>
                            <button type="submit" class="btn btn-primary m-2">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <ul class="list-group m-2 mt-3">
            <li class="list-group-item text-center" style="background-color: lightskyblue; color: white;">
                Course content
            </li>
            {% for lessonx in lessons %}
            <a href="{% url 'course-learn' course=course.slug %}?lesson={{ lessonx.slug }}" class="list-group-item list-group-item-action">
                {{ lessonx.title }}
            </a>
            {% endfor %}

        </ul>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
<script src="{% static 'learncodex/js/course_galary.js' %}"></script>
<script src="https://cdn.plyr.io/3.6.2/demo.js"></script>

<script>
    const player = new Plyr('#player', {
        title: 'Example Title',
        settings : ['captions', 'quality', 'speed', 'loop'],
        quality : { default: 576, options: [4320, 2880, 2160, 1440, 1080, 720, 576, 480, 360, 240] }
        
    });
</script>

{% endblock %}