<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LearnIT | Log In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">CyberKrypts</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse pull-right" id="navbarNavDropdown">
            <ul class="nav navbar-nav mr-auto"></ul>
            <ul class="navbar-nav nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row  m-4">
            <div class="col-md-4 offset-md-4">
                <div class="login-box">
                    <h3 class="d-flex w-100 justify-content-center">Login</h3>
                    <form action="#" class="form-group">
                        <input type="text" name="email" class="form-control m-2" placeholder="Email">
                        <input type="password" class="form-control m-2" placeholder="Password">
                        <input type="checkbox" name="remberme" id="checkbox" class="checkbox m-2">
                        <label for="chekbox">Remember Me</label>
                        <div>
                            <button class="btn btn-success m-2">Log In</button> <a href="#" class="float-right mt-3 mr-2">Forgot password?</a>
                        </div>
                    </form>
                    <div class="text-center mb-2">
                        <h4>
                           <hr>
                        </h4>
                    </div>
                    <div class="d-flex w-100 justify-content-center">
                        <a href="#"> Don't have a account?  </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 50px;"></div>

    <div class='footer footer-primary bg-primary text-center' style="color: white;">
        <footer>
            <div class="form inline-form">
                <a href="#facebook" class="social"><i class="fa fa-facebook"></i> </a>
                <a href="#instagram" class="social"><i class="fa fa-instagram"></i> </a>
                <a href="#telegram" class="social"><i class="fa fa-telegram"></i> </a>
            </div>
            <div class='copyright text-center'>
                &copy; LearnIT - 2020
            </div>
        </footer>
    </div>
    <script src="libraries/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>