{% extends 'blogx/base.html' %}

{% block title %}
{{ post.title }} | CyberKrypts
{% endblock %}

{% block header %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/zenburn.min.css"
  integrity="sha512-JPxjD2t82edI35nXydY/erE9jVPpqxEJ++6nYEoZEpX2TRsmp2FpZuQqZa+wBCen5U16QZOkMadGXHCfp+tUdg=="
  crossorigin="anonymous" />
<style>
  @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

  .content {
    font-family: 'Varela Round', sans-serif;
  }

  p {
    text-align: justify;
  }
</style>
<meta name="description" content="{{ post.seo_discription }}">
{% endblock %}

{% block content %}

<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h2 class="mt-4 mb-3">{{ post.title }}
    <small>by
      <a href="#">{{ post.author.name }}</a>
    </small>
  </h2>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'index' %}">Home</a>
    </li>
    <li class="breadcrumb-item"> <a href="{% url 'blog' %}">Blog</a></li>
    <li class="breadcrumb-item active">{{ post.title }}</li>
  </ol>

  <div class="row">

    <!-- Post Content Column -->
    <div class="col-lg-8">

      <!-- Preview Image -->
      <img class="img-fluid rounded" src="{{ post.title_img.url }}" alt="">

      <hr>

      <!-- Date/Time -->
      <p>Posted on {{ post.created_month }} {{ post.create_day }}, {{ post.created_year }}</p>

      <hr>
      <!-- Post Content -->
      <div class="content">
        {{ post.content | safe }}
      </div>

      <h3 class="h3">Comments:</h3>
      <hr>

      {% for comment in comments %}
      <div class="media mb-5">
        <img class="d-flex mr-3 rounded-circle" src="https://i.stack.imgur.com/l60Hf.png" width="50" height="50" alt="">
        <div class="media-body">
          <h5 class="mt-0"><strong> {{comment.name}} </strong> </h5>
          {{ comment.message }}
        </div>
      </div>
      {% endfor %}

      <hr>

      <!-- Comments Form -->
      <div class="card my-4">
        <h5 class="card-header">Leave a Comment:</h5>
        <div class="card-body">
          <form method="POST" action="{{ post.get_absolute_url }}">
            {% csrf_token %}
            <div class="form-group">
              {% if form.errors %}
              <ul class="list-group">
                {% for error in form.errors %}
                <li class="alert alert-danger">
                  {{ error }}
                </li>
                {% endfor %}
              </ul>
              {% endif %}
              {{ form.name }}
              {{ form.message }}
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>

      <!-- Single Comment -->


    </div>

    {% include 'blogx/sidebar.html' %}

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->
{% endblock %}

{% block script %}
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
<script>
  hljs.configure({
    useBR: true
  });

  document.querySelectorAll('pre').forEach((block) => {
    hljs.highlightBlock(block);
  });
</script>
{% endblock %}