{% extends 'blogx/base.html' %}

{% block title %}
Blog | CyberKrypts
{% endblock %}


{% block content %}
<!-- Page Content -->
<div class="container">

  <!-- Page Heading/Breadcrumbs -->
  <h1 class="mt-4 mb-3">CyberKrypt's Blog
    <!-- <small>Art of hacking</small> -->
  </h1>

  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'index' %}">Home</a>
    </li>
    <li class="breadcrumb-item active">Blog</li>
  </ol>

  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">
      {% for post in posts %}
      <!-- Blog Post -->
      <div class="card mb-4">
        <img class="card-img-top" src="{{ post.title_img.url }}" alt="Card image cap">
        <div class="card-body">
          <h2 class="card-title">{{ post.title }}</h2>
          <p class="card-text">{{ post.title_dics }}</p>
          <a href="{% url 'single_blog' id=post.slug %}" class="btn btn-primary">Read More &rarr;</a>
        </div>
        <div class="card-footer text-muted">
          Posted on {{ post.created_month }} {{ post.create_day }}, {{ post.created_year }} by
          <a href="#">{{ post.author.name }}</a>
        </div>
      </div>
      {% endfor %}

      <!-- Pagination -->
      {% include "pagination.html" %}

    </div>
    {% include 'blogx/sidebar.html' %}
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

{% endblock %}