{% extends 'learnit/base.html' %}
{% load static %}

{% block title %}
{% if tagx %}
Courses with tag {{ tagx }}
{% elif catx %}
Courses with category {{ catx }}
{% elif searchx %}
Results for {{ searchx }}
{% else %}
Courses | LearnIT
{% endif %}
{% endblock %}


{% block header %}
<link rel="stylesheet" href="{% static 'learnit/css/index.css' %}">
{% endblock %}


{% block content %}

<div class="d-none d-sm-none d-lg-flex search-form">
    <form method="GET" action="{% url 'course-search' %}" class="form-inline">
        <input type="text" name="s" class="form-control" placeholder="Enter your search term" {% if searchx %} value="{{ searchx }}"  {% endif %} id="search-input">
        <button type="submit" class="btn btn-success search-btn m-0">
            Search
        </button>
    </form>
</div>
<div class="container-fluid">
    <div class="m-4 index-title">
        <h2 class="text-center h2">
            {% if catx %}
            Courses with category {{ catx }} ({{ searchx_count }})
            {% elif searchx %}
            Results for {{ searchx }} ({{ searchx_count }})
            {% else %}
            Availabe courses
            {% endif %}
        </h2>
    </div>
    <div class="row">
        <div class="col-md-3 d-none d-md-block">
            <div class="card mb-5">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <ul class="list-unstyled mb-0">
                        {% for row in categories %}
                        <li class="mb-1">
                            <a href="{% url 'course-category' %}?c={{ row.name }}" class="mb-1"> {{ row.name }} </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="container">
                <div class="row">
                    {% for sub in courses %}
                    <div class="col-xs-12 col-md-4">
                        <div class="card  course-card">
                            <a class="img-card" href="{% url 'course-detail' course=sub.slug %}">
                                <img src="{{ sub.title_img.url }}" />
                            </a>
                            <div class="card-content">
                                <h4 class="card-title">
                                    <a href=""> {{ sub.title }}
                                    </a>
                                </h4>
                                <div>
                                    <div class="float-left">
                                        <i class="fa fa-user">
                                        </i>
                                        {{ sub.subscription_set.count }}
                                        <small>students</small>
                                    </div>
                                    <div class="float-right">
                                        <strong>Price: Free</strong>
                                        <!-- <div class="d-inline">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div> -->
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="card-read-more bg-primary">
                                <a href="{% url 'course-detail' course=sub.slug %}"
                                    class="btn btn-link btn-block">
                                    Learn now
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

                {% include 'pagination.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}