{% extends 'learnit/base.html' %}
{% load static %}

{% block title %}
{{ lesson.title }} | LearnIT
{% endblock %}

{% block header %}
<link rel="stylesheet" href="https://cdn.plyr.io/3.6.2/plyr.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/styles/default.min.css">
<link rel="stylesheet" href="{% static 'learnit/css/course_galary.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3.9.0/notyf.min.css">
{% endblock %}

{% block content %}

<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="margin-bottom: 0px; background-color: whitesmoke; border-radius: 0px;">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active">Data</li>
    </ol>
</nav> -->

<div class="row content container-fluid mt-3">
  <div class="col-md-8 m-0 p-3">
    <div class="row">
      {% if course.course_type == "paid" %}
      <video id="player" class="img-fluid w-100" playsinline controls data-poster="{{ course.title_img }}">
        <!-- <source
                    src="https://cyberkryptslearnit.s3.ap-south-1.amazonaws.com/00+development+environment+setup.mp4"
                    type="video/mp4" size="1080" srclang="FHD" />
                <source
                    src="https://cyberkryptslearnit.s3.ap-south-1.amazonaws.com/00+development+environment+setup.mp4"
                    type="video/mp4" size="720" /> -->
        <source src="{{ course.video_720p.url }}" type="video/mp4" size="720" />

        <!-- Captions are optional -->
        <!-- <track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default /> -->
      </video>
      {% else %}
      <!-- <video controls="controls" id="player">
                <source type="video/mp4" src="{{ lesson.dropbox_url }}" size="720">
            </video> -->

      <iframe id="simple_player" src="{{ lesson.youtube_url }}" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      {% endif %}
    </div>
    <div class="row">
      <div class="p-1 m-2">
        <h2 class="title">{{ lesson.title }}</h2>
        <div class="p-2">
          <div class="d-flex justify-content-space-between">
            <button class="feedback m-2 d-inline" type="button" data-toggle="modal"
              data-target="#modalPoll-1">Feedback</button>
            <button class="feedback m-2 d-inline" data-toggle="collapse" data-target="#discription"
              aria-expanded="false" aria-controls="discription">Discription</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row p-5 collapse dont-collapse-sm" id="discription">

      <h3 class="disc-title">Discription</h3>
      <div class="container discription">
        <p>
          {{ lesson.discription | safe }}
        </p>
      </div>
      <h3 class="mt-5">
        <strong class="mb-2 d-block">
          Having any doubt? <br>
        </strong>
        Ask to the instructor,
      </h3>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <form action="{% url 'course-ask' %}" method="POST" class="form-group p-2">
              {% csrf_token %}
              <input type="text" name="subject" class="form-control m-2" placeholder="Subject">
              <input type="hidden" name="course" value="{{ course.slug }}">
              <input type="hidden" name="lesson" value="{{ lesson.slug }}">
              <textarea type="text" name="question" class="form-control m-2" placeholder="Ask your doubt,"></textarea>
              <button type="submit" class="btn btn-primary m-2">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <ul class="list-group my-3">
      <li class="list-group-item text-center" style="background-color: lightskyblue; color: white;">
        <strong>Course content</strong>
      </li>
      {% for lessonx in lessons %}
      <a href="{% url 'course-learn' course=course.slug %}?lesson={{ lessonx.slug }}"
        class="list-group-item list-group-item-action">
        {{ lessonx.title }}
      </a>
      {% endfor %}
    </ul>
  </div>
</div>
<!-- Modal: modalPoll -->
<div class="modal fade right" id="modalPoll-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-full-height modal-right modal-notify modal-info" role="document">
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <p class="heading lead">Feedback request
        </p>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" class="white-text">×</span>
        </button>
      </div>

      <!--Body-->
      <div class="modal-body">
        <div class="text-center">
          <i class="far fa-file-alt fa-4x mb-3 animated rotateIn"></i>
          <p>
            <strong>Your opinion matters</strong>
          </p>
          <p>Have some ideas how to improve our course?
            <strong>Give us your feedback.</strong>
          </p>
        </div>

        <hr>

        <!-- Radio -->
        <p class="text-center">
          <strong>Your rating</strong>
        </p>
        <div class="form-check mb-4">
          <input class="form-check-input" name="group1" type="radio" id="radio-179" value="option1" checked>
          <label class="form-check-label" for="radio-179">Very good</label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" name="group1" type="radio" id="radio-279" value="option2">
          <label class="form-check-label" for="radio-279">Good</label>
        </div>

        <div class="form-check mb-4">
          <input class="form-check-input" name="group1" type="radio" id="radio-379" value="option3">
          <label class="form-check-label" for="radio-379">Mediocre</label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input" name="group1" type="radio" id="radio-479" value="option4">
          <label class="form-check-label" for="radio-479">Bad</label>
        </div>
        <div class="form-check mb-4">
          <input class="form-check-input" name="group1" type="radio" id="radio-579" value="option5">
          <label class="form-check-label" for="radio-579">Very bad</label>
        </div>
        <!-- Radio -->

        <p class="text-center">
          <strong>What could we improve?</strong>
        </p>
        <!--Basic textarea-->
        <div class="md-form">
          <textarea type="text" id="form79textarea" class="md-textarea form-control" rows="3"></textarea>
          <label for="form79textarea">Your message</label>
        </div>

      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <a type="button" id="submit-feedback" class="btn btn-primary waves-effect waves-light">Send
          <i class="fa fa-paper-plane ml-1"></i>
        </a>
        <a type="button" class="btn btn-outline-primary waves-effect" data-dismiss="modal">Cancel</a>
      </div>
    </div>
  </div>
</div>
<!-- Modal: modalPoll -->
{% endblock %}

{% block script %}
<script src="https://cdn.plyr.io/3.6.2/plyr.js"></script>
<script src="{% static 'learnit/javascript/course_galary.js' %}"></script>
<script src="https://cdn.plyr.io/3.6.2/demo.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.2/highlight.min.js"></script>
<script>
hljs.configure({useBR: true});

document.querySelectorAll('pre').forEach((block) => {
  hljs.highlightBlock(block);
});

</script>
{% include 'messages.html' %}
{% endblock %}