{% extends 'learnit/base.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href="{% static 'learnit/css/index.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3.9.0/notyf.min.css">
<meta name="description" content="{{ course.seo_discription }}">
{% endblock %}

{% block title %}
{{ course.title }} | LearnIT
{% endblock %}

{% block content %}
<div class="d-xs-flex d-sm-flex d-md-flex d-lg-none d-xl-none search-form-sm">
    <form class="form-inline d-flex justify-content-center md-form form-sm primary mt-2" style="color: white;">
        <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" aria-label="Search">
        <i class="fas fa-search" style="color: white;" aria-hidden="true"></i>
    </form>
</div>

<div class="d-none d-sm-none d-lg-flex search-form">
    <form action="#" class="form-inline">
        <input type="text" name="search" class="form-control" placeholder="Enter your search term" id="search-input">
        <button class="btn btn-success search-btn m-0">
            Search
        </button>
    </form>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 mt-5 d-none d-md-block">
            <h3 class="text-center">
                Catogeries
            </h3>

            <ul class="list-group">
                 {% for category in categories %}
                <a href="{% url 'course-category' %}?c={{ category.name }}" class="list-group-item list-group-item-action">
                    {{ category.name }}
                </a>
                {% endfor %}
            </ul>

        </div>
        <div class="col-md-9">

            <div class="container">
                <div class="m-4 index-title ">
                    <h2 class="text-center">
                        {{ course.title }}
                    </h2>
                </div>
                <div class="row d-flex justify-content-center">
                    <img src="/media/{{ course.title_img }}" alt="" class="img-fluid">
                </div>
                <div class="row w-100 mt-3 mb-2">
                    <strong>
                        <div>
                            Price: Free
                        </div>
                    </strong>
                </div>
                <div class="row mb-2">
                    <div>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="container">
                            {{ course.discription | safe }}  
                        </div>
                    </div>
                </div>
                <div class="row d-flex justify-content-center m-4">
                    <a href="{% url 'course-enroll' course=course.slug %}" class="btn btn-success">Enroll now</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
{% include 'messages.html' %}
{% endblock %}