<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Our Company </h3>
                    <ul>
                        <li> <a href="{% url 'about' %}"> About Us </a> </li>
                        <li> <a href="{% url 'contact' %}"> Contact Us </a> </li>
                        <li> <a href="{% url 'blog' %}"> Blog </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Our Services </h3>
                    <ul>
                        <li> <a href="{% url 'contact' %}"> Web development </a> </li>
                        <li> <a href="{% url 'contact' %}"> App development </a> </li>
                        <li> <a href="{% url 'contact' %}"> Task automation </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Our Media </h3>
                    <ul>
                        <li> <a href="https://www.youtube.com/channel/UClyMhc0TJZg5Et-EP356Tzw"> eFI </a> </li>
                        <li> <a href="https://www.youtube.com/channel/UCkWcYPo-O5Eky-cOrtrl3qQ"> SW-Techie </a> </li>
                        <li> <a href="https://www.youtube.com/channel/UCKuLNnWGUtBaFrebReayyQA"> Art Music </a> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Our projects </h3>
                    <ul>
                        <li> <a href="https://github.com/thelonewolf123/efi-editor"> EFI-editor </a> </li>
                        <li> <a href="https://github.com/CyberKrypts/email-automation"> Bulk Email </a> </li>
                        <li> <a href="https://github.com/thelonewolf123/dear-diary"> dear diary </a> </li>
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Get our newsletter </h3>
                    <ul>
                        <li>
                            <form action="{% url 'news-letter' %}" method="POST" class="input-append newsletter-box text-center">
                                {% csrf_token %}
                                <input type="text" name="email" class="full text-center form-control" placeholder="Email ">
                                <button class="btn  bg-secondary" type="submit">I'm in <i
                                        class="fa fa-long-arrow-right"> </i> </button>
                            </form>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="https://www.youtube.com/channel/UClyMhc0TJZg5Et-EP356Tzw"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <!--/.container-->
    </div>
    <!--/.footer-->

    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © CyberKrypts 2020. All right reserved. </p>
            <div class="clearfix"></div>
        </div>
        <!--/.footer-bottom-->
    </div>
</footer>