{% if messages %}
<script src="https://cdn.jsdelivr.net/npm/notyf@3.9.0/notyf.min.js" ></script>
<script>
const notyf = new Notyf({
  duration: 1000,
  position: {
    x: 'right',
    y: 'top',
  },
  types: [
    {
      type: 'warning',
      background: 'orange',
      icon: {
        className: 'material-icons',
        tagName: 'i',
        text: 'warning'
      }
    },
    {
      type: 'success',
      duration: 3000,
      dismissible: true
    },
    {
      type: 'error',
      duration: 3000,
      dismissible: true
    }
  ]
});

{% for message in messages %}
notyf.{{ message.tags }}({
  message: '{{ message }}',
})

{% endfor %}

</script>
{% endif %}